<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"
        data-inline-ignore>
</head>

<body style="margin: 0; padding: 0; font-family: 'Montserrat', sans-serif;background-color: #f3f3f3;font-size: 12px;">
    <div style="width: 100%; background: #eceff4; padding: 50px 20px; color: #514d6a;">
        <div style="max-width: 700px; margin: 0px auto; font-size: 14px">
            <table style="border-collapse: collapse; border: 0; width: 100%; margin-bottom: 20px">
                <tr>
                    <td style="vertical-align: top;">
                        <img src="https://snode.co/img/email/logo.png" alt="InstantCredit Group" style="height: 40px" />
                    </td>
                    <td style="text-align: right; vertical-align: middle;">
                        <span style="color: #a09bb9;">
                            <%=appUri%>
                        </span>
                    </td>
                </tr>
            </table>

            <div style="padding: 40px 40px 20px 40px; background: #fff;">
                <table style="border-collapse: collapse; border: 0; width: 100%;">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Welcome to <%=appName%>!</h3>
                                <p>Hi <%=name%>,</p>
                                <p>
                                    Thanks for signing up to <%=appName%>, we are excited to have you on board!
                                </p>
                                <p>
                                    To complete and confirm your registration to <%=appName%>, you need to verify your
                                    email address.
                                </p>
                                <div style="text-align: center">
                                    <a href="<%=link%>"
                                        style="display: inline-block;padding: 11px 30px 11px;margin: 20px 0px 30px;font-size: 15px;color: #fff;background: #01a8fe;border-radius: 5px;text-decoration: none;">
                                        Confirm my email address
                                    </a>
                                </div>
                                <p>Please copy and paste this link to your browser if the one above doesn't work:
                                </p>
                                <p
                                    style="word-break:break-all;overflow-wrap: break-word;word-wrap: break-word;-ms-word-break: break-all;word-break: break-all;word-break: break-word;-ms-hyphens: auto;-moz-hyphens: auto;-webkit-hyphens: auto; hyphens: auto;">
                                    <%=link%>
                                </p>
                                <p>
                                    If you encounter any problem using the service, open a support ticket from the
                                    control panel and a member of our team will help you.
                                </p>
                                <p>
                                    Join with the team and the community on <a href="#">Discord</a>, share ideas and new
                                    features
                                    you would like to see on <%=appName%>.
                                </p>
                                <p>
                                    Check out our documentation section for information on how to get started with
                                    <%=appName%>.
                                </p>
                                <p>Happy hacking</p>
                                <p> - <%=appName%> Team</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="text-align: center; font-size: 12px; color: #a09bb9; margin-top: 20px">
                <div style="display: inline-block; vertical-align: middle; margin-right: 30px;">
                    <a style="display: inline-block; margin: 0 5px;" href="https://fb.me/snodeco">
                        <img src="https://snode.co/img/email/ic_facebook.png" width="32px" />
                    </a>
                    <a style="display: inline-block; margin: 0 5px;" href="https://twitter.com/snode_co">
                        <img src="https://snode.co/img/email/ic_twitter.png" width="32px" />
                    </a>
                    <a style="display: inline-block; margin: 0 5px;" href="https://discord.gg/u7uTYAA">
                        <img src="https://snode.co/img/email/ic_discord.png" width="32px" />
                    </a>
                </div>
                <p>
                    <%=appName%>
                    <br />
                    This email was sent to <%=email%>. You are receiving this email because you signed up for an
                    <%=appUri%>
                    account.
                    <br />
                    Don't like these emails?
                    <a href="%unsubscribe_url%" style="color: #a09bb9; text-decoration: underline;">Unsubscribe</a>
                    <br />
                    Powered by Snode.co
                </p>
            </div>
        </div>
    </div>
</body>

</html>
